{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "mybusiness:v4",
  "name": "mybusiness",
  "canonicalName": "My Business",
  "version": "v4",
  "revision": "20201012",
  "title": "Google My Business API",
  "description": "The Google My Business API provides an interface for managing business location information on Google.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://developers.google.com/my-business/",
  "protocol": "rest",
  "rootUrl": "https://mybusiness.googleapis.com/",
  "mtlsRootUrl": "https://mybusiness.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://mybusiness.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "schemas": {
    "AcceptInvitationRequest": {
      "id": "AcceptInvitationRequest",
      "description": "Request message for AccessControl.AcceptInvitation.",
      "type": "object",
      "properties": {
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "DeclineInvitationRequest": {
      "id": "DeclineInvitationRequest",
      "description": "Request message for AccessControl.DeclineInvitation.",
      "type": "object",
      "properties": {
      }
    },
    "ListInvitationsResponse": {
      "id": "ListInvitationsResponse",
      "description": "Response message for AccessControl.ListInvitations.",
      "type": "object",
      "properties": {
        "invitations": {
          "description": "A collection of location invitations that are pending for the account. The number of invitations listed here cannot exceed 1000.",
          "type": "array",
          "items": {
            "$ref": "Invitation"
          }
        }
      }
    },
    "Invitation": {
      "id": "Invitation",
      "description": "Output only. Represents a pending invitation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name for the invitation.",
          "type": "string"
        },
        "targetAccount": {
          "description": "The sparsely populated account this invitation is for.",
          "$ref": "Account"
        },
        "targetLocation": {
          "description": "The target location this invitation is for.",
          "$ref": "TargetLocation"
        },
        "role": {
          "description": "The invited role on the account.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The admin has owner-level access and is the primary owner. (Displays as 'Primary Owner' in UI).",
            "The admin has owner-level access. (Displays as 'Owner' in UI).",
            "The admin has managerial access.",
            "The admin can manage social (Google+) pages. (Displays as 'Site Manager' in UI)."
          ],
          "enum": [
            "ADMIN_ROLE_UNSPECIFIED",
            "OWNER",
            "CO_OWNER",
            "MANAGER",
            "COMMUNITY_MANAGER"
          ]
        }
      }
    },
    "Account": {
      "id": "Account",
      "description": "An account is a container for your business's locations. If you are the only user who manages locations for your business, you can use your personal Google Account. To share management of locations with multiple users, [create a business account] (https:\/\/support.google.com\/business\/answer\/6085339?ref_topic=6085325).",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name, in the format `accounts\/{account_id}`.",
          "type": "string"
        },
        "accountName": {
          "description": "The name of the account. *Note:* For an account with AccountType `PERSONAL`, this is the first and last name of the user account.",
          "type": "string"
        },
        "type": {
          "description": "Output only. Specifies the AccountType of this account.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "An end-user account.",
            "A group of Locations. For more information, see the [help center article] (https:\/\/support.google.com\/business\/answer\/6085326)",
            "A User Group for segregating organization staff in groups. For more information, see the [help center article](https:\/\/support.google.com\/business\/answer\/7655731)",
            "An organization representing a company. For more information, see the [help center article](https:\/\/support.google.com\/business\/answer\/7663063)"
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "PERSONAL",
            "LOCATION_GROUP",
            "USER_GROUP",
            "ORGANIZATION"
          ]
        },
        "role": {
          "description": "Output only. Specifies the AccountRole the caller has for this account.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The user owns this account. (Displays as 'Primary Owner' in UI).",
            "The user is a co-owner of the account. (Displays as 'Owner' in UI).",
            "The user can manage this account.",
            "The user can manage social (Google+) pages for the account. (Displays as 'Site Manager' in UI)."
          ],
          "enum": [
            "ACCOUNT_ROLE_UNSPECIFIED",
            "OWNER",
            "CO_OWNER",
            "MANAGER",
            "COMMUNITY_MANAGER"
          ]
        },
        "state": {
          "description": "Output only. Indicates the AccountState of this account.",
          "$ref": "AccountState"
        },
        "accountNumber": {
          "description": "Account reference number if provisioned.",
          "type": "string"
        },
        "permissionLevel": {
          "description": "Output only. Specifies the PermissionLevel the caller has for this account.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The user has owner level permission.",
            "The user has member level permission."
          ],
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "OWNER_LEVEL",
            "MEMBER_LEVEL"
          ]
        },
        "organizationInfo": {
          "description": "Additional info for an organization. This is populated only for an organization account.",
          "$ref": "OrganizationInfo"
        }
      }
    },
    "AccountState": {
      "id": "AccountState",
      "description": "Indicates status of the account, such as whether the account has been verified by Google.",
      "type": "object",
      "properties": {
        "status": {
          "description": "If verified, future locations that are created are automatically connected to Google Maps, and have Google+ pages created, without requiring moderation.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Verified account.",
            "Account that is not verified, and verification has not been requested.",
            "Account that is not verified, but verification has been requested."
          ],
          "enum": [
            "ACCOUNT_STATUS_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "VERIFICATION_REQUESTED"
          ]
        }
      }
    },
    "OrganizationInfo": {
      "id": "OrganizationInfo",
      "description": "Additional Info stored for an organization.",
      "type": "object",
      "properties": {
        "registeredDomain": {
          "description": "The registered domain for the account.",
          "type": "string"
        },
        "postalAddress": {
          "description": "The postal address for the account.",
          "$ref": "PostalAddress"
        },
        "phoneNumber": {
          "description": "The contact number for the organization.",
          "type": "string"
        }
      }
    },
    "PostalAddress": {
      "id": "PostalAddress",
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input \/ editing: - Use an i18n-ready address widget such as https:\/\/github.com\/google\/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https:\/\/support.google.com\/business\/answer\/6397478",
      "type": "object",
      "properties": {
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country\/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See http:\/\/cldr.unicode.org\/ and http:\/\/www.unicode.org\/cldr\/charts\/30\/supplemental\/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country\/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state\/zip validation in the U.S.A.).",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. C\u00F4te d'Ivoire).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city\/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country\/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        }
      }
    },
    "TargetLocation": {
      "id": "TargetLocation",
      "description": "Represents a target location for a pending invitation.",
      "type": "object",
      "properties": {
        "locationName": {
          "description": "The name of the location to which the user is invited.",
          "type": "string"
        },
        "locationAddress": {
          "description": "The address of the location to which the user is invited.",
          "type": "string"
        }
      }
    },
    "ListAccountAdminsResponse": {
      "id": "ListAccountAdminsResponse",
      "description": "Response message for AccessControl.ListAccountAdmins.",
      "type": "object",
      "properties": {
        "admins": {
          "description": "A collection of Admin instances.",
          "type": "array",
          "items": {
            "$ref": "Admin"
          }
        }
      }
    },
    "Admin": {
      "id": "Admin",
      "description": "An administrator of an Account or a Location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name. For account admins, this is in the form: `accounts\/{account_id}\/admins\/{admin_id}` For location admins, this is in the form: `accounts\/{account_id}\/locations\/{location_id}\/admins\/{admin_id}`",
          "type": "string"
        },
        "adminName": {
          "description": "The name of the admin. When making the initial invitation, this is the invitee's email address. On `GET` calls, the user's email address is returned if the invitation is still pending. Otherwise, it contains the user's first and last names.",
          "type": "string"
        },
        "role": {
          "description": "Specifies the AdminRole that this admin uses with the specified Account or Location resource.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The admin has owner-level access and is the primary owner. (Displays as 'Primary Owner' in UI).",
            "The admin has owner-level access. (Displays as 'Owner' in UI).",
            "The admin has managerial access.",
            "The admin can manage social (Google+) pages. (Displays as 'Site Manager' in UI)."
          ],
          "enum": [
            "ADMIN_ROLE_UNSPECIFIED",
            "OWNER",
            "CO_OWNER",
            "MANAGER",
            "COMMUNITY_MANAGER"
          ]
        },
        "pendingInvitation": {
          "description": "Output only. Indicates whether this admin has a pending invitation for the specified resource.",
          "type": "boolean"
        }
      }
    },
    "ListLocationAdminsResponse": {
      "id": "ListLocationAdminsResponse",
      "description": "Response message for AccessControl.ListLocationAdmins.",
      "type": "object",
      "properties": {
        "admins": {
          "description": "A collection of Admin instances.",
          "type": "array",
          "items": {
            "$ref": "Admin"
          }
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response message for Accounts.ListAccounts.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "A collection of accounts to which the user has access. The personal account of the user doing the query will always be the first item of the result, unless it is filtered out.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "If the number of accounts exceeds the requested page size, this field is populated with a token to fetch the next page of accounts on a subsequent call to `accounts.list`. If there are no more accounts, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "GenerateAccountNumberRequest": {
      "id": "GenerateAccountNumberRequest",
      "description": "Request message for Accounts.GenerateAccountNumber.",
      "type": "object",
      "properties": {
      }
    },
    "Notifications": {
      "id": "Notifications",
      "description": "A Google Cloud Pub\/Sub topic where notifications can be published when a location is updated or has a new review. There will be only one notification settings resource per-account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The notifications resource name.",
          "type": "string"
        },
        "topicName": {
          "description": "The Google Cloud Pub\/Sub topic that will receive notifications when locations managed by this account are updated. If unset, no notifications will be posted. The account mybusiness-api-pubsub@system.gserviceaccount.com must have at least Publish permissions on the Cloud Pub\/Sub topic.",
          "type": "string"
        },
        "notificationTypes": {
          "description": "The types of notifications that will be sent to the Cloud Pub\/Sub topic. At least one must be specified. To stop receiving notifications entirely, use DeleteNotifications.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No notification type. Will not match any notifications.",
              "The location has Google updates for review. The location_name field on the notification will provide the resource name of the location with Google updates.",
              "A new review has been added to the location. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name.",
              "A review on the location has been updated. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name.",
              "A new media item has been added to the location by a Google Maps user. The notification will provide the resource name of the new media item.",
              "A new question is added to the location. The notification will provide the resource name of question.",
              "A question of the location is updated. The notification will provide the resource name of question.",
              "A new answer is added to the location. The notification will provide the resource name of question and answer.",
              "An answer of the location is updated. The notification will provide the resource name of question and answer.",
              "The LocationState of the Location was updated. The Notification will contain the field mask of the updated LocationState fields."
            ],
            "enum": [
              "NOTIFICATION_TYPE_UNSPECIFIED",
              "GOOGLE_UPDATE",
              "NEW_REVIEW",
              "UPDATED_REVIEW",
              "NEW_CUSTOMER_MEDIA",
              "NEW_QUESTION",
              "UPDATED_QUESTION",
              "NEW_ANSWER",
              "UPDATED_ANSWER",
              "UPDATED_LOCATION_STATE"
            ]
          }
        }
      }
    },
    "ListBusinessCategoriesResponse": {
      "id": "ListBusinessCategoriesResponse",
      "type": "object",
      "properties": {
        "categories": {
          "description": "The categories. Categories are BASIC view. They don't contain any ServiceType information.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        },
        "totalCategoryCount": {
          "description": "The total number of categories for the request parameters.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of categories exceeded the requested page size, this field will be populated with a token to fetch the next page of categories on a subsequent call to `ListBusinessCategories`.",
          "type": "string"
        }
      }
    },
    "Category": {
      "id": "Category",
      "description": "A category describing what this business is (not what it does). For a list of valid category IDs, and the mappings to their human-readable names, see [categories.list](\/my-business\/reference\/rest\/v4\/categories\/list).",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "@OutputOnly. The human-readable name of the category. This is set when reading the location. When modifying the location, `category_id` must be set.",
          "type": "string"
        },
        "categoryId": {
          "description": "@OutputOnly. A stable ID (provided by Google) for this category. The `category_id` must be specified when modifying the category (when creating or updating a location).",
          "type": "string"
        },
        "serviceTypes": {
          "description": "@OutputOnly. It provides a list of all the service types that are available for this business category.",
          "type": "array",
          "items": {
            "$ref": "ServiceType"
          }
        }
      }
    },
    "ServiceType": {
      "id": "ServiceType",
      "description": "A message describing a service type that the business offers.",
      "type": "object",
      "properties": {
        "serviceTypeId": {
          "description": "@OutputOnly. A stable ID (provided by Google) for this service type.",
          "type": "string"
        },
        "displayName": {
          "description": "@OutputOnly The human-readable display name for the service type.",
          "type": "string"
        }
      }
    },
    "BatchGetBusinessCategoriesResponse": {
      "id": "BatchGetBusinessCategoriesResponse",
      "description": "Response message for BusinessCategories.BatchGetBusinessCategories.",
      "type": "object",
      "properties": {
        "categories": {
          "description": "Categories that match the GConcept ids provided in the request. They will not come in the same order as category ids in the request.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        }
      }
    },
    "FollowersMetadata": {
      "id": "FollowersMetadata",
      "description": "Follower metadata for a location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name for this. accounts\/{account_id}\/locations\/{location_id}\/followers\/metadata",
          "type": "string"
        },
        "count": {
          "description": "Total number of followers for the location.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "FoodMenus": {
      "id": "FoodMenus",
      "description": "Menus of a business that serve food dishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Google identifier for this location in the form: `accounts\/{account_id}\/locations\/{location_id}\/foodMenus`",
          "type": "string"
        },
        "menus": {
          "description": "Optional. A collection of food menus.",
          "type": "array",
          "items": {
            "$ref": "FoodMenu"
          }
        }
      }
    },
    "FoodMenu": {
      "id": "FoodMenu",
      "description": "Menu of a business that serves food dishes.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Required. Language-tagged labels for the menu. E.g. \"menu\", \"lunch special\". Display names should be 140 characters or less, with descriptions 1,000 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "MenuLabel"
          }
        },
        "sourceUrl": {
          "description": "Optional. Source URL of menu if there is a webpage to go to.",
          "type": "string"
        },
        "sections": {
          "description": "Required. Sections of the menu.",
          "type": "array",
          "items": {
            "$ref": "FoodMenuSection"
          }
        },
        "cuisines": {
          "description": "Optional. Cuisine information for the food menu. It is highly recommended to provide this field.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Cuisine unspecified",
              "American food",
              "Asian food",
              "Brazilian food",
              "Breakfast",
              "Brunch",
              "Chicken",
              "Chinese food",
              "Family style cuisine",
              "Fast food",
              "French food",
              "Greek food",
              "German food",
              "Hamburger",
              "Indian food",
              "Indonesian food",
              "Italian food",
              "Japanese food",
              "Korean food",
              "Latin American food",
              "Mediterranean food",
              "Mexican food",
              "Pakistani food",
              "Pizza",
              "Seafood",
              "Spanish food",
              "Sushi",
              "Thai food",
              "Turkish food",
              "Vegetarian Food",
              "Vietnamese food",
              "Other cuisine"
            ],
            "enum": [
              "CUISINE_UNSPECIFIED",
              "AMERICAN",
              "ASIAN",
              "BRAZILIAN",
              "BREAK_FAST",
              "BRUNCH",
              "CHICKEN",
              "CHINESE",
              "FAMILY",
              "FAST_FOOD",
              "FRENCH",
              "GREEK",
              "GERMAN",
              "HAMBURGER",
              "INDIAN",
              "INDONESIAN",
              "ITALIAN",
              "JAPANESE",
              "KOREAN",
              "LATIN_AMERICAN",
              "MEDITERRANEAN",
              "MEXICAN",
              "PAKISTANI",
              "PIZZA",
              "SEAFOOD",
              "SPANISH",
              "SUSHI",
              "THAI",
              "TURKISH",
              "VEGETARIAN",
              "VIETNAMESE",
              "OTHER_CUISINE"
            ]
          }
        }
      }
    },
    "MenuLabel": {
      "id": "MenuLabel",
      "description": "Label to be used when displaying the menu and its various sub-components.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Display name of the component.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Supplementary information of the component.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The BCP 47 code of language. If the language is not available, it will default to English.",
          "type": "string"
        }
      }
    },
    "FoodMenuSection": {
      "id": "FoodMenuSection",
      "description": "Section of a menu. It can contain multiple items\/dishes.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Required. Language tagged labels for this menu section. Display names should be 140 characters or less, with descriptions 1,000 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "MenuLabel"
          }
        },
        "items": {
          "description": "Required. Items of the section. Each Section must have at least an item.",
          "type": "array",
          "items": {
            "$ref": "FoodMenuItem"
          }
        }
      }
    },
    "FoodMenuItem": {
      "id": "FoodMenuItem",
      "description": "Item of a Section. It can be the dish itself, or can contain multiple FoodMenuItemOption.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Required. Language tagged labels for this menu item. Display names should be 140 characters or less, with descriptions 1,000 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "MenuLabel"
          }
        },
        "attributes": {
          "description": "Required. Detailed attributes of the item. When item options are specified, this is considered as the base attributes and populate to each options.",
          "$ref": "FoodMenuItemAttributes"
        },
        "options": {
          "description": "Optional. This is for an item that comes in multiple different options, and users are required to make choices. E.g. \"regular\" vs. \"large\" pizza. When options are specified, labels and attributes at item level will automatically become the first option's labels and attributes. Clients only need to specify other additional food options in this field.",
          "type": "array",
          "items": {
            "$ref": "FoodMenuItemOption"
          }
        }
      }
    },
    "FoodMenuItemAttributes": {
      "id": "FoodMenuItemAttributes",
      "description": "Attributes of a food item\/dish.",
      "type": "object",
      "properties": {
        "price": {
          "description": "Required. Price of the food dish.",
          "$ref": "Money"
        },
        "spiciness": {
          "description": "Optional. Spiciness level of the food dish.",
          "type": "string",
          "enumDescriptions": [
            "Level unspecified",
            "Denotion of mild spicy.",
            "Denotion of medium spicy.",
            "Denotion of hot spicy. The most spiciest level."
          ],
          "enum": [
            "SPICINESS_UNSPECIFIED",
            "MILD",
            "MEDIUM",
            "HOT"
          ]
        },
        "allergen": {
          "description": "Optional. Allergens associated with the food dish. It is highly recommended to provide this field.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Allergen unspecified",
              "Dairy related allergen",
              "Egg related allergen",
              "Fish related allergen",
              "Peanut related allergen",
              "Shellfish related allergen",
              "Soy related allergen",
              "Tree nut related allergen",
              "Wheat related allergen"
            ],
            "enum": [
              "ALLERGEN_UNSPECIFIED",
              "DAIRY",
              "EGG",
              "FISH",
              "PEANUT",
              "SHELLFISH",
              "SOY",
              "TREE_NUT",
              "WHEAT"
            ]
          }
        },
        "dietaryRestriction": {
          "description": "Optional. Dietary information of the food dish. It is highly recommended to provide this field.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Dietary type unspecified",
              "Denotion of the food as a halal dish.",
              "Denotion of the food as a kosher dish.",
              "Denotion of the food as an organic dish.",
              "Denotion of the food as a vegan dish.",
              "Denotion of the food as a vegetarian dish."
            ],
            "enum": [
              "DIETARY_RESTRICTION_UNSPECIFIED",
              "HALAL",
              "KOSHER",
              "ORGANIC",
              "VEGAN",
              "VEGETARIAN"
            ]
          }
        },
        "nutritionFacts": {
          "description": "Optional. Nutrition facts of the food dish option. It is highly recommended to provide this field.",
          "$ref": "NutritionFacts"
        },
        "ingredients": {
          "description": "Optional. Ingredients of the food dish option.",
          "type": "array",
          "items": {
            "$ref": "Ingredient"
          }
        },
        "servesNumPeople": {
          "description": "Optional. Number of people can be served by this food dish option.",
          "type": "integer",
          "format": "int32"
        },
        "preparationMethods": {
          "description": "Optional. Methods on how the food dish option is prepared.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Preparation method unspecified",
              "Baked method",
              "Barbecued method",
              "Basted method",
              "Blanched method",
              "Boiled method",
              "Braised method",
              "Coddled method",
              "Fermented method",
              "Fried method",
              "Grilled method",
              "Kneaded method",
              "Marinated method",
              "Pan fried method",
              "Pickled method",
              "Pressure cooked method",
              "Roasted method",
              "Sauteed method",
              "Seared method",
              "Simmered method",
              "Smoked method",
              "Steamed method",
              "Steeped method",
              "Stir fried method",
              "Other method"
            ],
            "enum": [
              "PREPARATION_METHOD_UNSPECIFIED",
              "BAKED",
              "BARBECUED",
              "BASTED",
              "BLANCHED",
              "BOILED",
              "BRAISED",
              "CODDLED",
              "FERMENTED",
              "FRIED",
              "GRILLED",
              "KNEADED",
              "MARINATED",
              "PAN_FRIED",
              "PICKLED",
              "PRESSURE_COOKED",
              "ROASTED",
              "SAUTEED",
              "SEARED",
              "SIMMERED",
              "SMOKED",
              "STEAMED",
              "STEEPED",
              "STIR_FRIED",
              "OTHER_METHOD"
            ]
          }
        },
        "portionSize": {
          "description": "Optional. Size of the order, represented in units of items. (e.g. 4 \"skewers\", 6 \"pieces\")",
          "$ref": "PortionSize"
        },
        "mediaKeys": {
          "description": "Optional. The mediaKey which uniquely identifies the mediaitem in photo backend.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NutritionFacts": {
      "id": "NutritionFacts",
      "description": "This message represents nutrition facts for a food dish.",
      "type": "object",
      "properties": {
        "calories": {
          "description": "Optional. Calories of the dish.",
          "$ref": "CaloriesFact"
        },
        "totalFat": {
          "description": "Optional. Fat information for a given food dish.",
          "$ref": "NutritionFact"
        },
        "cholesterol": {
          "description": "Optional. Cholesterol information for a given food dish.",
          "$ref": "NutritionFact"
        },
        "sodium": {
          "description": "Optional. Sodium information for a given food dish.",
          "$ref": "NutritionFact"
        },
        "totalCarbohydrate": {
          "description": "Optional. Carbohydrate information for a given food dish.",
          "$ref": "NutritionFact"
        },
        "protein": {
          "description": "Optional. Protein information for a given food dish.",
          "$ref": "NutritionFact"
        }
      }
    },
    "CaloriesFact": {
      "id": "CaloriesFact",
      "description": "This message denotes calories information with an upper bound and lower bound range. Lower amount must be specified. Both lower and upper amounts are non-negative numbers.",
      "type": "object",
      "properties": {
        "lowerAmount": {
          "description": "Required. Lower amount of calories",
          "type": "integer",
          "format": "int32"
        },
        "upperAmount": {
          "description": "Optional. Upper amount of calories",
          "type": "integer",
          "format": "int32"
        },
        "unit": {
          "description": "Required. Unit of the given calories information.",
          "type": "string",
          "enumDescriptions": [
            "Energy unit unspecified",
            "Calorie",
            "Joule"
          ],
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "CALORIE",
            "JOULE"
          ]
        }
      }
    },
    "NutritionFact": {
      "id": "NutritionFact",
      "description": "This message denotes nutrition information with an upper bound and lower bound range and can be represented by mass unit. Lower amount must be specified. Both lower and upper amounts are non-negative numbers.",
      "type": "object",
      "properties": {
        "lowerAmount": {
          "description": "Required. Lower amount of nutrition",
          "type": "number",
          "format": "double"
        },
        "upperAmount": {
          "description": "Optional. Upper amount of nutrition",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "Required. Unit of the given nutrition information.",
          "type": "string",
          "enumDescriptions": [
            "Mass unit unspecified",
            "Gram",
            "Milligram"
          ],
          "enum": [
            "MASS_UNIT_UNSPECIFIED",
            "GRAM",
            "MILLIGRAM"
          ]
        }
      }
    },
    "Ingredient": {
      "id": "Ingredient",
      "description": "This message denotes an ingredient information of a food dish.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Required. Labels to describe ingredient. Display names should be 140 characters or less, with descriptions 1,000 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "MenuLabel"
          }
        }
      }
    },
    "PortionSize": {
      "id": "PortionSize",
      "description": "Serving portion size of a food dish.",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "Required. Number of the portion.",
          "type": "integer",
          "format": "int32"
        },
        "unit": {
          "description": "Required. The repeated name_info field is for the unit in multiple languages.",
          "type": "array",
          "items": {
            "$ref": "MenuLabel"
          }
        }
      }
    },
    "FoodMenuItemOption": {
      "id": "FoodMenuItemOption",
      "description": "Option of an Item. It requires an explicit user selection.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Required. Language tagged labels for this menu item option. E.g.: \"beef pad thai\", \"veggie pad thai\", \"small pizza\", \"large pizza\". Display names should be 140 characters or less, with descriptions 1,000 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "MenuLabel"
          }
        },
        "attributes": {
          "description": "Required. Detailed attributes of the item option. Individual unspecified attributes will be inherited from the item-level attibutes as the base.",
          "$ref": "FoodMenuItemAttributes"
        }
      }
    },
    "SearchGoogleLocationsRequest": {
      "id": "SearchGoogleLocationsRequest",
      "description": "Request message for GoogleLocations.SearchGoogleLocations.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location to search for. If provided, will find locations which match the provided location details.",
          "$ref": "Location"
        },
        "query": {
          "description": "Text query to search for. The search results from a query string will be less accurate than if providing an exact location, but can provide more inexact matches.",
          "type": "string"
        },
        "resultCount": {
          "description": "The number of matches to return. The default value is 3, with a maximum of 10. Note that latency may increase if more are requested. There is no pagination.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A location. See the [help center article] (https:\/\/support.google.com\/business\/answer\/3038177) for a detailed description of these fields, or the [category endpoint](\/my-business\/reference\/rest\/v4\/categories) for a list of valid business categories.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Google identifier for this location in the form: `accounts\/{account_id}\/locations\/{location_id}` In the context of matches, this field will not be populated.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language of the location. Set during creation and not updateable.",
          "type": "string"
        },
        "storeCode": {
          "description": "External identifier for this location, which must be unique inside a given account. This is a means of associating the location with your own records.",
          "type": "string"
        },
        "locationName": {
          "description": "Location name should reflect your business's real-world name, as used consistently on your storefront, website, and stationery, and as known to customers. Any additional information, when relevant, can be included in other fields of the resource (for example, `Address`, `Categories`). Don't add unnecessary information to your name (for example, prefer \"Google\" over \"Google Inc. - Mountain View Corporate Headquarters\"). Don't include marketing taglines, store codes, special characters, hours or closed\/open status, phone numbers, website URLs, service\/product information, location\/address or directions, or containment information (for example, \"Chase ATM in Duane Reade\").",
          "type": "string"
        },
        "primaryPhone": {
          "description": "A phone number that connects to your individual business location as directly as possible. Use a local phone number instead of a central, call center helpline number whenever possible.",
          "type": "string"
        },
        "additionalPhones": {
          "description": "Up to two phone numbers (mobile or landline, no fax) at which your business can be called, in addition to your primary phone number.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "A precise, accurate address to describe your business location. PO boxes or mailboxes located at remote locations are not acceptable. At this time, you can specify a maximum of five `address_lines` values in the address.",
          "$ref": "PostalAddress"
        },
        "primaryCategory": {
          "description": "Category that best describes the core business this location engages in.",
          "$ref": "Category"
        },
        "additionalCategories": {
          "description": "Additional categories to describe your business. Categories help your customers find accurate, specific results for services they're interested in. To keep your business information accurate and live, make sure that you use as few categories as possible to describe your overall core business. Choose categories that are as specific as possible, but representative of your main business.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        },
        "websiteUrl": {
          "description": "A URL for this business. If possible, use a URL that represents this individual business location instead of a generic website\/URL that represents all locations, or the brand.",
          "type": "string"
        },
        "regularHours": {
          "description": "Operating hours for the business.",
          "$ref": "BusinessHours"
        },
        "specialHours": {
          "description": "Special hours for the business. This typically includes holiday hours, and other times outside of regular operating hours. These override regular business hours.",
          "$ref": "SpecialHours"
        },
        "serviceArea": {
          "description": "Service area businesses provide their service at the customer's location. If this business is a service area business, this field describes the area(s) serviced by the business.",
          "$ref": "ServiceAreaBusiness"
        },
        "locationKey": {
          "description": "A collection of keys that link this business to other Google properties, such as a Google+ page and Google Maps Places.",
          "$ref": "LocationKey"
        },
        "labels": {
          "description": "A collection of free-form strings to allow you to tag your business. These labels are NOT user facing; only you can see them. Limited to 255 characters (per label).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "adWordsLocationExtensions": {
          "description": "Additional information that is surfaced in AdWords.",
          "$ref": "AdWordsLocationExtensions"
        },
        "latlng": {
          "description": "User-provided latitude and longitude. When creating a location, this field is ignored if the provided address geocodes successfully. This field is only returned on get requests if the user-provided `latlng` value was accepted during create, or the `latlng` value was updated through the Google My Business website. This field cannot be updated.",
          "$ref": "LatLng"
        },
        "openInfo": {
          "description": "A flag that indicates whether the location is currently open for business.",
          "$ref": "OpenInfo"
        },
        "locationState": {
          "description": "Output only. A set of booleans that reflects the [state of a location.](https:\/\/support.google.com\/business\/answer\/3480862)",
          "$ref": "LocationState"
        },
        "attributes": {
          "description": "Attributes for this location.",
          "type": "array",
          "items": {
            "$ref": "Attribute"
          }
        },
        "metadata": {
          "description": "Output Only. Additional non-user-editable information.",
          "$ref": "Metadata"
        },
        "priceLists": {
          "description": "Price list information for this location.",
          "type": "array",
          "items": {
            "$ref": "PriceList"
          }
        },
        "profile": {
          "description": "Describes your business in your own voice and shares with users the unique story of your business and offerings.",
          "$ref": "Profile"
        },
        "relationshipData": {
          "description": "All locations and chain related to this one.",
          "$ref": "RelationshipData"
        }
      }
    },
    "BusinessHours": {
      "id": "BusinessHours",
      "description": "Represents the time periods that this location is open for business. Holds a collection of TimePeriod instances.",
      "type": "object",
      "properties": {
        "periods": {
          "description": "A collection of times that this location is open for business. Each period represents a range of hours when the location is open during the week.",
          "type": "array",
          "items": {
            "$ref": "TimePeriod"
          }
        }
      }
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "description": "Represents a span of time that the business is open, starting on the specified open day\/time and closing on the specified close day\/time. The closing time must occur after the opening time, for example later in the same day, or on a subsequent day.",
      "type": "object",
      "properties": {
        "openDay": {
          "description": "Indicates the day of the week this period starts on.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "openTime": {
          "description": "Time in 24hr ISO 8601 extended format (hh:mm). Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field.",
          "type": "string"
        },
        "closeDay": {
          "description": "Indicates the day of the week this period ends on.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "closeTime": {
          "description": "Time in 24hr ISO 8601 extended format (hh:mm). Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field.",
          "type": "string"
        }
      }
    },
    "SpecialHours": {
      "id": "SpecialHours",
      "description": "Represents a set of time periods when a location's operational hours differ from its normal business hours.",
      "type": "object",
      "properties": {
        "specialHourPeriods": {
          "description": "A list of exceptions to the business's regular hours.",
          "type": "array",
          "items": {
            "$ref": "SpecialHourPeriod"
          }
        }
      }
    },
    "SpecialHourPeriod": {
      "id": "SpecialHourPeriod",
      "description": "Represents a single time period when a location's operational hours differ from its normal business hours. A special hour period must represent a range of less than 24 hours. The `open_time` and `start_date` must predate the `close_time` and `end_date`. The `close_time` and `end_date` can extend to 11:59 a.m. on the day after the specified `start_date`. For example, the following inputs are valid: start_date=2015-11-23, open_time=08:00, close_time=18:00 start_date=2015-11-23, end_date=2015-11-23, open_time=08:00, close_time=18:00 start_date=2015-11-23, end_date=2015-11-24, open_time=13:00, close_time=11:59 The following inputs are not valid: start_date=2015-11-23, open_time=13:00, close_time=11:59 start_date=2015-11-23, end_date=2015-11-24, open_time=13:00, close_time=12:00 start_date=2015-11-23, end_date=2015-11-25, open_time=08:00, close_time=18:00",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The calendar date this special hour period starts on.",
          "$ref": "Date"
        },
        "openTime": {
          "description": "The wall time on `start_date` when a location opens, expressed in 24hr ISO 8601 extended format. (hh:mm) Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field. Must be specified if `is_closed` is false.",
          "type": "string"
        },
        "endDate": {
          "description": "The calendar date this special hour period ends on. If `end_date` field is not set, default to the date specified in `start_date`. If set, this field must be equal to or at most 1 day after `start_date`.",
          "$ref": "Date"
        },
        "closeTime": {
          "description": "The wall time on `end_date` when a location closes, expressed in 24hr ISO 8601 extended format. (hh:mm) Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field. Must be specified if `is_closed` is false.",
          "type": "string"
        },
        "isClosed": {
          "description": "If true, `end_date`, `open_time`, and `close_time` are ignored, and the date specified in `start_date` is treated as the location being closed for the entire day.",
          "type": "boolean"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. This can represent: * A full date, with non-zero year, month and day values * A month and day value, with a zero year, e.g. an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, e.g. a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year by itself or a year and month where the day is not significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ServiceAreaBusiness": {
      "id": "ServiceAreaBusiness",
      "description": "Service area businesses provide their service at the customer's location (for example, a locksmith or plumber).",
      "type": "object",
      "properties": {
        "businessType": {
          "description": "Indicates the type of the service area business.",
          "type": "string",
          "enumDescriptions": [
            "Output only. Not specified.",
            "Offers service only in the surrounding area (not at the business address).",
            "Offers service at the business address and the surrounding area."
          ],
          "enum": [
            "BUSINESS_TYPE_UNSPECIFIED",
            "CUSTOMER_LOCATION_ONLY",
            "CUSTOMER_AND_BUSINESS_LOCATION"
          ]
        },
        "radius": {
          "description": "Output only. The area that this business serves centered around a point.",
          "$ref": "PointRadius"
        },
        "places": {
          "description": "The area that this business serves defined through a set of places.",
          "$ref": "Places"
        }
      }
    },
    "PointRadius": {
      "id": "PointRadius",
      "description": "A radius around a particular point (latitude\/longitude).",
      "type": "object",
      "properties": {
        "latlng": {
          "description": "The latitude\/longitude that specifies the center of an area defined by the radius.",
          "$ref": "LatLng"
        },
        "radiusKm": {
          "description": "The distance in kilometers of the area around the point.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "LatLng": {
      "id": "LatLng",
      "description": "An object representing a latitude\/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Places": {
      "id": "Places",
      "description": "Defines the union of areas represented by a set of places.",
      "type": "object",
      "properties": {
        "placeInfos": {
          "description": "The areas represented by place IDs. Limited to a maximum of 20 places.",
          "type": "array",
          "items": {
            "$ref": "PlaceInfo"
          }
        }
      }
    },
    "PlaceInfo": {
      "id": "PlaceInfo",
      "description": "Defines an area that's represented by a place ID.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The localized name of the place. For example, `Scottsdale, AZ`.",
          "type": "string"
        },
        "placeId": {
          "description": "The ID of the place. Must correspond to a [region.] (https:\/\/developers.google.com\/places\/web-service\/supported_types#table3)",
          "type": "string"
        }
      }
    },
    "LocationKey": {
      "id": "LocationKey",
      "description": "Alternate\/surrogate key references for a location.",
      "type": "object",
      "properties": {
        "plusPageId": {
          "description": "Output only. If this location has a Google+ page associated with it, this is populated with the Google+ page ID for this location.",
          "type": "string"
        },
        "placeId": {
          "description": "If this location has been verified and is connected to\/appears on Google Maps, this field is populated with the place ID for the location. This ID can be used in various Places APIs. If this location is unverified, this field may be populated if the location has been associated with a place that appears on Google Maps. This field can be set during Create calls, but not for Update. The additional `explicit_no_place_id` bool qualifies whether an unset place ID is deliberate or not.",
          "type": "string"
        },
        "explicitNoPlaceId": {
          "description": "Output only. A value of true indicates that an unset place ID is deliberate, which is different from no association being made yet.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Output only. The `request_id` used to create this location. May be empty if this location was created outside of the GMB API or Google My Business Locations.",
          "type": "string"
        }
      }
    },
    "AdWordsLocationExtensions": {
      "id": "AdWordsLocationExtensions",
      "description": "Additional information that is surfaced in AdWords.",
      "type": "object",
      "properties": {
        "adPhone": {
          "description": "An alternate phone number to display on AdWords location extensions instead of the location's primary phone number.",
          "type": "string"
        }
      }
    },
    "OpenInfo": {
      "id": "OpenInfo",
      "description": "Information related to the opening state of the business.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Indicates whether or not the Location is currently open for business. All locations are open by default, unless updated to be closed.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Indicates that the location is open.",
            "Indicates that the location has been permanently closed.",
            "Indicates that the location has been temporarily closed. This value may only be applied to published locations (i.e. location_state.is_published = true). When updating the status field to this value, clients are required to set the `update_mask` explicitly to `open_info.status`. No other update masks can be set during this update call. This is a temporary restriction which will be relaxed soon."
          ],
          "enum": [
            "OPEN_FOR_BUSINESS_UNSPECIFIED",
            "OPEN",
            "CLOSED_PERMANENTLY",
            "CLOSED_TEMPORARILY"
          ]
        },
        "canReopen": {
          "description": "Output only. Indicates whether this business is eligible for re-open.",
          "type": "boolean"
        },
        "openingDate": {
          "description": "The date on which the location first opened. If the exact day is not known, month and year only can be provided. The date must be in the past or be no more than one year in the future.",
          "$ref": "Date"
        }
      }
    },
    "LocationState": {
      "id": "LocationState",
      "description": "Contains a set of booleans that reflect the [state of a Location.](https:\/\/support.google.com\/business\/answer\/3480862)",
      "type": "object",
      "properties": {
        "isGoogleUpdated": {
          "description": "Output only. Indicates whether the place ID associated with this location has updates.",
          "type": "boolean"
        },
        "isDuplicate": {
          "description": "Output only. Indicates whether the location is a duplicate of another location. For more information, see [metadata.duplicate](\/my-business\/reference\/rest\/v4\/accounts.locations#Duplicate).",
          "type": "boolean"
        },
        "isSuspended": {
          "description": "Output only. Indicates whether the location is suspended. Suspended locations are not visible to end users in Google products. If you believe this was a mistake, see the [help center article] (https:\/\/support.google.com\/business\/answer\/4569145).",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Output only. Indicates whether the location can be updated.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Output only. Indicates whether the location can be deleted using the Google My Business API.",
          "type": "boolean"
        },
        "isVerified": {
          "description": "Output only. Indicates whether the location is verified.",
          "type": "boolean"
        },
        "needsReverification": {
          "description": "Output only. Indicates whether the location requires reverification.",
          "type": "boolean"
        },
        "isPendingReview": {
          "description": "Output only. Indicates whether the review of the location is pending.",
          "type": "boolean"
        },
        "isDisabled": {
          "description": "Output only. Indicates whether the location is disabled.",
          "type": "boolean"
        },
        "isPublished": {
          "description": "Output only. Indicates whether the location is published.",
          "type": "boolean"
        },
        "isDisconnected": {
          "description": "Output only. Indicates whether the location is disconnected from a place on Google Maps.",
          "type": "boolean"
        },
        "isLocalPostApiDisabled": {
          "description": "Output only. Indicates whether [accounts.locations.localPosts](\/my-business\/reference\/rest\/v4\/accounts.locations.localPosts) is disabled for this location.",
          "type": "boolean"
        },
        "canModifyServiceList": {
          "description": "Output only. Indicates if the listing can modify a ServiceList.",
          "readOnly": true,
          "type": "boolean"
        },
        "canHaveFoodMenus": {
          "description": "Output only. Indicates if the listing is eligible for food menu.",
          "readOnly": true,
          "type": "boolean"
        },
        "hasPendingEdits": {
          "description": "Output only. Indicates whether any of this Location's properties are in the edit pending state.",
          "type": "boolean"
        },
        "hasPendingVerification": {
          "description": "Output only. Indicates whether the location has pending verification requests.",
          "type": "boolean"
        }
      }
    },
    "Attribute": {
      "id": "Attribute",
      "description": "A location attribute. Attributes provide additional information about a location. The attributes that can be set on a location may vary based on the properties of that location (for example, category). Available attributes are determined by Google and may be added and removed without API changes.",
      "type": "object",
      "properties": {
        "attributeId": {
          "description": "The ID of the attribute. Attribute IDs are provided by Google.",
          "type": "string"
        },
        "valueType": {
          "description": "Output only. The type of value that this attribute contains. This should be used to determine how to interpret the value.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The values for this attribute are boolean values.",
            "The attribute has a predetermined list of available values that can be used. Metadata for this attribute will list these values.",
            "The values for this attribute are URLs.",
            "The attribute value is an enum with multiple possible values that can be explicitly set or unset."
          ],
          "enum": [
            "ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "ENUM",
            "URL",
            "REPEATED_ENUM"
          ]
        },
        "values": {
          "description": "The values for this attribute. The type of the values supplied must match that expected for that attribute; see [AttributeValueType](\/my-business\/reference\/rest\/v4\/AttributeValueType). This is a repeated field where multiple attribute values may be provided. Attribute types only support one value.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "repeatedEnumValue": {
          "description": "When the attribute value type is REPEATED_ENUM, this contains the attribute value, and the other values fields must be empty.",
          "$ref": "RepeatedEnumAttributeValue"
        },
        "urlValues": {
          "description": "When the attribute value type is URL, this field contains the value(s) for this attribute, and the other values fields must be empty.",
          "type": "array",
          "items": {
            "$ref": "UrlAttributeValue"
          }
        }
      }
    },
    "RepeatedEnumAttributeValue": {
      "id": "RepeatedEnumAttributeValue",
      "description": "Values for an attribute with a `value_type` of REPEATED_ENUM. This consists of two lists of value IDs: those that are set (true) and those that are unset (false). Values absent are considered unknown. At least one value must be specified.",
      "type": "object",
      "properties": {
        "setValues": {
          "description": "Enum values that are set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Enum values that are unset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UrlAttributeValue": {
      "id": "UrlAttributeValue",
      "description": "Values for an attribute with a `value_type` of URL.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL.",
          "type": "string"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Additional non-user-editable information about the location.",
      "type": "object",
      "properties": {
        "duplicate": {
          "description": "Information about the location that this location duplicates. Only present when `location_state.is_duplicate` is true.",
          "$ref": "Duplicate"
        },
        "mapsUrl": {
          "description": "A link to the location on Maps.",
          "type": "string"
        },
        "newReviewUrl": {
          "description": "A link to the page on Google Search where a customer can leave a review for the location.",
          "type": "string"
        }
      }
    },
    "Duplicate": {
      "id": "Duplicate",
      "description": "Information about the location that this location duplicates.",
      "type": "object",
      "properties": {
        "locationName": {
          "description": "The resource name of the location that this duplicates. Only populated if the authenticated user has access rights to that location and that location is not deleted.",
          "type": "string"
        },
        "placeId": {
          "description": "The place ID of the location that this duplicates.",
          "type": "string"
        },
        "access": {
          "description": "Indicates whether the user has access to the location it duplicates.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Unable to determine whether the user has access to the location that it duplicates.",
            "User has access to the location that it duplicates.",
            "User doesn't have access to the location that it duplicates."
          ],
          "enum": [
            "ACCESS_UNSPECIFIED",
            "ACCESS_UNKNOWN",
            "ALLOWED",
            "INSUFFICIENT"
          ]
        }
      }
    },
    "PriceList": {
      "id": "PriceList",
      "description": "A list of item price information. Price lists are structured as one or more price lists, each containing one or more sections with one or more items. For example, food price lists may represent breakfast\/lunch\/dinner menus, with sections for burgers\/steak\/seafood.",
      "type": "object",
      "properties": {
        "priceListId": {
          "description": "Required. ID for the price list. Price list, section, and item IDs cannot be duplicated within this Location.",
          "type": "string"
        },
        "labels": {
          "description": "Required. Language-tagged labels for the price list.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "sourceUrl": {
          "description": "Optional source URL of where the price list was retrieved from. For example, this could be the URL of the page that was automatically scraped to populate the menu information.",
          "type": "string"
        },
        "sections": {
          "description": "Required. Sections for this price list. Each price list must contain at least one section.",
          "type": "array",
          "items": {
            "$ref": "Section"
          }
        }
      }
    },
    "Label": {
      "id": "Label",
      "description": "Label to be used when displaying the price list, section, or item.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Display name for the price list, section, or item.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the price list, section, or item.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code that these strings apply for. Only one set of labels may be set per language.",
          "type": "string"
        }
      }
    },
    "Section": {
      "id": "Section",
      "description": "A section of the price list containing one or more items.",
      "type": "object",
      "properties": {
        "sectionId": {
          "description": "Required. ID for the section. Price list, section, and item IDs cannot be duplicated within this Location.",
          "type": "string"
        },
        "labels": {
          "description": "Required. Language-tagged labels for the section. We recommend that section names and descriptions be 140 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "sectionType": {
          "description": "Optional. Type of the current price list section. Default value is FOOD.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Section contains items that represent food.",
            "Section contains items that represent services."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "FOOD",
            "SERVICES"
          ]
        },
        "items": {
          "description": "Items that are contained within this section of the price list.",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      }
    },
    "Item": {
      "id": "Item",
      "description": "A single list item. Each variation of an item in the price list should have its own Item with its own price data.",
      "type": "object",
      "properties": {
        "itemId": {
          "description": "Required. ID for the item. Price list, section, and item IDs cannot be duplicated within this Location.",
          "type": "string"
        },
        "labels": {
          "description": "Required. Language-tagged labels for the item. We recommend that item names be 140 characters or less, and descriptions 250 characters or less. At least one set of labels is required.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "price": {
          "description": "Optional. Price of the item.",
          "$ref": "Money"
        }
      }
    },
    "Profile": {
      "id": "Profile",
      "description": "All information pertaining to the location's profile.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the location in your own voice, not editable by anyone else.",
          "type": "string"
        }
      }
    },
    "RelationshipData": {
      "id": "RelationshipData",
      "description": "Information of all parent and children locations related to this one.",
      "type": "object",
      "properties": {
        "parentChain": {
          "description": "The resource name of the Chain that this location is member of. How to find Chain ID",
          "type": "string"
        }
      }
    },
    "SearchGoogleLocationsResponse": {
      "id": "SearchGoogleLocationsResponse",
      "description": "Response message for GoogleLocations.SearchGoogleLocations.",
      "type": "object",
      "properties": {
        "googleLocations": {
          "description": "A collection of GoogleLocations that are potential matches to the specified request, listed in order from most to least accuracy.",
          "type": "array",
          "items": {
            "$ref": "GoogleLocation"
          }
        }
      }
    },
    "GoogleLocation": {
      "id": "GoogleLocation",
      "description": "Represents a Location that is present on Google. This can be a location that has been claimed by the user, someone else, or could be unclaimed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of this GoogleLocation, in the format `googleLocations\/{googleLocationId}`.",
          "type": "string"
        },
        "location": {
          "description": "The sparsely populated Location information. This field can be re-used in CreateLocation if it is not currently claimed by a user.",
          "$ref": "Location"
        },
        "requestAdminRightsUrl": {
          "description": "A URL that will redirect the user to the request admin rights UI. This field is only present if the location has already been claimed by any user, including the current user.",
          "type": "string"
        }
      }
    },
    "ListRecommendedGoogleLocationsResponse": {
      "id": "ListRecommendedGoogleLocationsResponse",
      "description": "Response message for GoogleLocations.ListRecommendedGoogleLocations. It also contains some locations that have been claimed by other GMB users since the last time they were recommended to this GMB account.",
      "type": "object",
      "properties": {
        "googleLocations": {
          "description": "The locations recommended to a GMB account. Each of these represents a GoogleLocation that is present on Maps. The locations are sorted in decreasing order of relevance to the GMB account.",
          "type": "array",
          "items": {
            "$ref": "GoogleLocation"
          }
        },
        "totalSize": {
          "description": "The total number of recommended locations for this GMB account, irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "During pagination, if there are more locations available to be fetched in the next page, this field is populated with a token to fetch the next page of locations in a subsequent call. If there are no more locations to be fetched, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "ReportGoogleLocationRequest": {
      "id": "ReportGoogleLocationRequest",
      "description": "Request message for reporting a GoogleLocation.",
      "type": "object",
      "properties": {
        "locationGroupName": {
          "description": "Optional. The resource name of the location group that this Google Location is being reported for, in the format `accounts\/{account_id}`.",
          "type": "string"
        },
        "reportReasonBadLocation": {
          "description": "The reason for which the user is reporting this location when the issue is with the location itself.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The recommended location is not an actual location.",
            "The recommended location is permanently closed.",
            "The recommended location does not exist.",
            "The recommended location is spam, fake or offensive.",
            "The recommended location is a private place or home.",
            "The recommended location has moved to a new location. Should be accompanied by a `report_reason_elaboration` specifying the new address.",
            "The recommended location is a duplicate of another location."
          ],
          "enum": [
            "BAD_LOCATION_REASON_UNSPECIFIED",
            "NOT_A_LOCATION",
            "PERMANENTLY_CLOSED",
            "DOES_NOT_EXIST",
            "SPAM",
            "NOT_A_BUSINESS",
            "MOVED",
            "DUPLICATE"
          ]
        },
        "reportReasonBadRecommendation": {
          "description": "The reason for which the user is reporting this location when the issue is with the recommendation. This report is useful if the location has been recommended to the GMB account.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The recommended location is not a store front.",
            "The recommended location doesn't belong to the chain suggested in the `chain_display_name` in the returned location. Should be accompanied by a `report_reason_elaboration` specifying the name of the correct chain.",
            "The recommended location is not relevant to the user. Should be accompanied by a `report_reason_elaboration` for why the recommendation is irrelevant."
          ],
          "enum": [
            "BAD_RECOMMENDATION_REASON_UNSPECIFIED",
            "NOT_A_STORE_FRONT",
            "NOT_PART_OF_SUGGESTED_CHAIN",
            "IRRELEVANT"
          ]
        },
        "reportReasonElaboration": {
          "description": "Optional. A text entry for elaborating on the reason for which the user is reporting this location. The maximum length is 512 characters.",
          "type": "string"
        },
        "reportReasonLanguageCode": {
          "description": "Optional. The BCP 47 code of language used in `report_reason_elaboration`.",
          "type": "string"
        }
      }
    },
    "ReportLocationInsightsRequest": {
      "id": "ReportLocationInsightsRequest",
      "description": "Request message for Insights.ReportLocationInsights.",
      "type": "object",
      "properties": {
        "locationNames": {
          "description": "A collection of locations to fetch insights for, specified by their names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "basicRequest": {
          "description": "A request to include basic metric insights in the report.",
          "$ref": "BasicMetricsRequest"
        },
        "drivingDirectionsRequest": {
          "description": "A request to include insights about driving-direction requests in the report.",
          "$ref": "DrivingDirectionMetricsRequest"
        }
      }
    },
    "BasicMetricsRequest": {
      "id": "BasicMetricsRequest",
      "description": "A request for basic metric insights.",
      "type": "object",
      "properties": {
        "metricRequests": {
          "description": "A collection of metrics to return values for including the options for how the data should be returned.",
          "type": "array",
          "items": {
            "$ref": "MetricRequest"
          }
        },
        "timeRange": {
          "description": "The range to gather metrics for. The maximum range is 18 months from the request date. In some cases, the data may still be missing for days close to the request date. Missing data will be specified in the `metricValues` in the response.",
          "$ref": "TimeRange"
        }
      }
    },
    "MetricRequest": {
      "id": "MetricRequest",
      "description": "A request to return values for one metric and the options for how those values should be returned.",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The requested metric.",
          "type": "string",
          "enumDescriptions": [
            "No metric specified.",
            "Shorthand to request all available metrics. Which metrics are included in ALL varies, and depends on the resource for which insights are being requested.",
            "The number of times the resource was shown when searching for the location directly.",
            "The number of times the resource was shown as a result of a categorical search (for example, restaurant).",
            "The number of times a resource was shown as a result of a search for the chain it belongs to, or a brand it sells. For example, Starbucks, Adidas. This is a subset of QUERIES_INDIRECT.",
            "The number of times the resource was viewed on Google Maps.",
            "The number of times the resource was viewed on Google Search.",
            "The number of times the website was clicked.",
            "The number of times the phone number was clicked.",
            "The number of times driving directions were requested.",
            "The number of views on media items uploaded by the merchant.",
            "The number of views on media items uploaded by customers.",
            "The total number of media items that are currently live that have been uploaded by the merchant.",
            "The total number of media items that are currently live that have been uploaded by customers.",
            "The number of times the local post was viewed on Google Search.",
            "The number of times the call to action button was clicked on Google."
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "ALL",
            "QUERIES_DIRECT",
            "QUERIES_INDIRECT",
            "QUERIES_CHAIN",
            "VIEWS_MAPS",
            "VIEWS_SEARCH",
            "ACTIONS_WEBSITE",
            "ACTIONS_PHONE",
            "ACTIONS_DRIVING_DIRECTIONS",
            "PHOTOS_VIEWS_MERCHANT",
            "PHOTOS_VIEWS_CUSTOMERS",
            "PHOTOS_COUNT_MERCHANT",
            "PHOTOS_COUNT_CUSTOMERS",
            "LOCAL_POST_VIEWS_SEARCH",
            "LOCAL_POST_ACTIONS_CALL_TO_ACTION"
          ]
        },
        "options": {
          "description": "How the values should appear when returned.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No metric option specified. Will default to AGGREGATED_TOTAL in a request.",
              "Return values aggregated over the entire time frame. This is the default value.",
              "Return daily timestamped values across time range.",
              "Values will be returned as a breakdown by day of the week. Only valid for ACTIONS_PHONE.",
              "Values will be returned as a breakdown by hour of the day. Only valid for ACTIONS_PHONE."
            ],
            "enum": [
              "METRIC_OPTION_UNSPECIFIED",
              "AGGREGATED_TOTAL",
              "AGGREGATED_DAILY",
              "BREAKDOWN_DAY_OF_WEEK",
              "BREAKDOWN_HOUR_OF_DAY"
            ]
          }
        }
      }
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "A range of time. Data will be pulled over the range as a half-open inverval (that is, [start_time, end_time)).",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Epoch timestamp for the start of the range (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Epoch timestamp for the end of the range (exclusive).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DrivingDirectionMetricsRequest": {
      "id": "DrivingDirectionMetricsRequest",
      "description": "A request for driving direction insights.",
      "type": "object",
      "properties": {
        "numDays": {
          "description": "The number of days to aggregate data for. Results returned will be available data over the last number of requested days. Valid values are 7, 30, and 90.",
          "type": "string",
          "enumDescriptions": [
            "7 days. This is the default value.",
            "30 days.",
            "90 days."
          ],
          "enum": [
            "SEVEN",
            "THIRTY",
            "NINETY"
          ]
        },
        "languageCode": {
          "description": "The BCP 47 code for the language. If a language code is not provided, it defaults to English.",
          "type": "string"
        }
      }
    },
    "ReportLocationInsightsResponse": {
      "id": "ReportLocationInsightsResponse",
      "description": "Response message for `Insights.ReportLocationInsights`.",
      "type": "object",
      "properties": {
        "locationMetrics": {
          "description": "A collection of metric values by location.",
          "type": "array",
          "items": {
            "$ref": "LocationMetrics"
          }
        },
        "locationDrivingDirectionMetrics": {
          "description": "A collection of values for driving direction-related metrics.",
          "type": "array",
          "items": {
            "$ref": "LocationDrivingDirectionMetrics"
          }
        }
      }
    },
    "LocationMetrics": {
      "id": "LocationMetrics",
      "description": "A series of Metrics and BreakdownMetrics associated with a Location over some time range.",
      "type": "object",
      "properties": {
        "locationName": {
          "description": "The location resource name these values belong to.",
          "type": "string"
        },
        "timeZone": {
          "description": "IANA timezone for the location.",
          "type": "string"
        },
        "metricValues": {
          "description": "A list of values for the requested metrics.",
          "type": "array",
          "items": {
            "$ref": "MetricValue"
          }
        }
      }
    },
    "MetricValue": {
      "id": "MetricValue",
      "description": "A value for a single Metric from a starting time.",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The metric for which the value applies.",
          "type": "string",
          "enumDescriptions": [
            "No metric specified.",
            "Shorthand to request all available metrics. Which metrics are included in ALL varies, and depends on the resource for which insights are being requested.",
            "The number of times the resource was shown when searching for the location directly.",
            "The number of times the resource was shown as a result of a categorical search (for example, restaurant).",
            "The number of times a resource was shown as a result of a search for the chain it belongs to, or a brand it sells. For example, Starbucks, Adidas. This is a subset of QUERIES_INDIRECT.",
            "The number of times the resource was viewed on Google Maps.",
            "The number of times the resource was viewed on Google Search.",
            "The number of times the website was clicked.",
            "The number of times the phone number was clicked.",
            "The number of times driving directions were requested.",
            "The number of views on media items uploaded by the merchant.",
            "The number of views on media items uploaded by customers.",
            "The total number of media items that are currently live that have been uploaded by the merchant.",
            "The total number of media items that are currently live that have been uploaded by customers.",
            "The number of times the local post was viewed on Google Search.",
            "The number of times the call to action button was clicked on Google."
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "ALL",
            "QUERIES_DIRECT",
            "QUERIES_INDIRECT",
            "QUERIES_CHAIN",
            "VIEWS_MAPS",
            "VIEWS_SEARCH",
            "ACTIONS_WEBSITE",
            "ACTIONS_PHONE",
            "ACTIONS_DRIVING_DIRECTIONS",
            "PHOTOS_VIEWS_MERCHANT",
            "PHOTOS_VIEWS_CUSTOMERS",
            "PHOTOS_COUNT_MERCHANT",
            "PHOTOS_COUNT_CUSTOMERS",
            "LOCAL_POST_VIEWS_SEARCH",
            "LOCAL_POST_ACTIONS_CALL_TO_ACTION"
          ]
        },
        "totalValue": {
          "description": "The total aggregated value for this metric. Set for the AGGREGATED_TOTAL option.",
          "$ref": "DimensionalMetricValue"
        },
        "dimensionalValues": {
          "description": "Dimensional values for this metric.",
          "type": "array",
          "items": {
            "$ref": "DimensionalMetricValue"
          }
        }
      }
    },
    "DimensionalMetricValue": {
      "id": "DimensionalMetricValue",
      "description": "A value for a single metric with a given time dimension.",
      "type": "object",
      "properties": {
        "metricOption": {
          "description": "The option that requested this dimensional value.",
          "type": "string",
          "enumDescriptions": [
            "No metric option specified. Will default to AGGREGATED_TOTAL in a request.",
            "Return values aggregated over the entire time frame. This is the default value.",
            "Return daily timestamped values across time range.",
            "Values will be returned as a breakdown by day of the week. Only valid for ACTIONS_PHONE.",
            "Values will be returned as a breakdown by hour of the day. Only valid for ACTIONS_PHONE."
          ],
          "enum": [
            "METRIC_OPTION_UNSPECIFIED",
            "AGGREGATED_TOTAL",
            "AGGREGATED_DAILY",
            "BREAKDOWN_DAY_OF_WEEK",
            "BREAKDOWN_HOUR_OF_DAY"
          ]
        },
        "timeDimension": {
          "description": "The dimension for the value.",
          "$ref": "TimeDimension"
        },
        "value": {
          "description": "The value. If no value is set, then the requested data is missing.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TimeDimension": {
      "id": "TimeDimension",
      "description": "The dimension for which data is divided over.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "The day of the week (\"MONDAY\" to \"SUNDAY\") this value corresponds to. Set for BREAKDOWN_DAY_OF_WEEK option.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "timeOfDay": {
          "description": "The hour of the day (0 to 23) this value corresponds to. Set for BREAKDOWN_HOUR_OF_DAY option.",
          "$ref": "TimeOfDay"
        },
        "timeRange": {
          "description": "The range of time this value covers. Set for AGGREGATED_TOTAL and AGGREGATED_DAILY options.",
          "$ref": "TimeRange"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
[...]
